body {
	width: $ancho_pagina;
	font-family: $tipo_fuente;
	background: $color_blanco;
	color: $color_titulo;

	.logo {
		font-size: 3em;
		color: $color_titulo;
		position :relative;
		top: 0.4em;

	}

	nav ul a {
		color: $color_titulo;
		display: block;
		padding: 0 15px;
	}

	nav .nav-wrapper {
		position: relative;
		background-color: #fff;
	}

	.opacit-y{
		color: $color_blanco;
		background-color: $color_rojo;
		position: absolute;
		z-index: 8;
		padding: $paddin_g;
	}

	.pa{
		margin-top:8%;
	}

	.opacity-fondo{
		background-color: $fondo_negro;
		opacity: $opacity_color;
		padding: $paddin_g;
	}


}

