body {
	width: $ancho_pagina;
	font-family: $tipo_fuente;
	background: $fondo_blanco;
	color: $color_titulo;

	.logo {
		font-size: 3em;
		color: $color_titulo;
		position :relative;
		top: 0.4em;

	}

		nav ul a {
	    color: $color_titulo;
	    display: block;
	    padding: 0 15px;
	}

		nav .nav-wrapper {
	    position: relative;
	    background-color: #fff;
	}

}

.pa{
	margin-top:8%;
}


