
	.rect_rojo{
		position: absolute;
		background-color: $color-terciario;
		padding: $paddin_g;
		color:$color-primario;
		z-index:8
	}

	.margin_{
		margin-top:8.5%;
	}


	.hovereffect {
		@include anchura;
		height: 100%;
		float: left;
		position: relative;

			img{
				@include images;
			}

			.overlay {
				@include anchura;
				height: 100%;
				position: absolute;
				left: 0;
				bottom:6px;

				.titles{
					@include anchura;
					color: $color-primario;
					text-align: left;
					position: absolute;
					bottom: 0%;
					padding:0px 15px;
					background: rgba(0, 0, 0, 0.6);

				}
			}
		}








