
	.rect_rojo{
		position: absolute;
		background-color: $color-terciario;
		padding: $paddin_g;
		color:$color-primario;
		z-index:8
	}

	.margin_{
		margin-top:8.5%;
	}


	.hovereffect {
		width: 100%;
		height: 100%;
		float: left;
		position: relative;

			img{
				width:100%;
			}

			.overlay {
				width: 100%;
				height: 100%;
				position: absolute;
				left: 0;
				bottom:0;

				.titles{
					color: $color-primario;
					text-align: left;
					position: absolute;
					bottom: 0%;
					width: 100%;
					padding:0px 15px;
					background: rgba(0, 0, 0, 0.6);

				}
			}
		}








