body{
	h6{
		font-size: 12px;
	}

	hr{
		color: $color_rojo;
		background-color: $color_rojo;
		height: 1px;
	}

	.linea{
		color: $color_titulo;
		background-color: $color_titulo;
		height: 0.5px;
		
	}

	div .columnas img{
		width:100%;
		padding-top:8%;
	}

	div .columnas .titulos{
		color: $color_rojo;
		font-size: $tamano_tipografia;
	}

	.mas{
		display: block;
	}

	span .listado{
		display:block;
	}
	
}	

