body{

    div .columnas img{
        width:100%;
        padding-top:8%;
    }

    .titles-cuerpo{
        color: $color-terciario;
        font-size: $tamano-tipografia;
    }

    .font-siz{
        font-size:$fon-size-general;
    }

    .fa{
        color:$color-star;
    }

    .gris{
        color:$color-secundario;
    }

    span .listado{
        display:block;
    }
    
    .text-facebook{
        font-size: $fon-size-general;
        width: 100%;
        padding: 14px 0px;
        background: $fondo_text_redes;
        color: $color_titulo;
        text-align: center;
        margin-top: 7%;
    }

    .fa-facebook{
        font-size: $fon-size-redes;
        width: 100%;
        padding: $padding_redes;
        background: #316db7;
        color: $color_blanco;
    }

    .fa-twitter{
        font-size: $fon-size-redes;
        width: 100%;
        padding: $padding_redes;
        background: #17a8dd;
        color:$color-primario;
    }

    .fa-rss{
        font-size: $fon-size-redes;
        width: 100%;
        padding: $padding_redes;
        background: #ff9204;
        color: $color-primario;
    }

    .iconos{
        position: relative;
        float: right;
        top: -2.5em;

        .fa-chevron-left,
        .fa-chevron-right {
            position: relative;
            color: $color-primario;
            background: $color-secundario;
            padding: 1%;
        }
    }

    .fa-minus,
    .fa-plus {
        padding: 1%;
        background-color: $color-terciario;
        color: $color-blanco;
    }
}   

