$ancho_pagina: 100%; /* 100% del ancho de la ventana del navegador */
$color_titulo: #909090; /* Color plomo */
$fondo_text_redes: #F4F3F3; /* Color plomo claro */
$padding_redes: 19px 28px;
$opacity_color: 0.6; /* opacity*/


$color-primario: #fff; //color blanco
$color-secundario: #909090; //color gris
$color-terciario: #D70202; //color rojo
$color-star: #D70202; //color amarillo
$fon-size-redes: 30px; //tamaño de iconos de redes sociales
$fon-size-general: 13px; //tamaño de iconos de redes sociales
$tamano-tipografia: 1.0em; //tamaño de titulos
$paddin_g: 4px 38px; /* padding*/
