$ancho_pagina: 100%; /* 100% del ancho de la ventana del navegador */
$tipo_fuente: arial, sans-serif;
$color_titulo: #909090; /* Color plomo */
$fondo_text_redes: #F4F3F3; /* Color plomo claro */
$fondo_negro: #000; /* Color Gris Obscuro */
$color_blanco: #fff; /* Color Blancoo*/
$color_rojo: #D70202; /* Color Rojo*/
$paddin_g: 4px 38px; /* padding*/
$padding_redes: 19px 28px;
$opacity_color: 0.6; /* opacity*/
$tamano_tipografia: 1.0em;
