$ancho_pagina: 100%; /* 100% del ancho de la ventana del navegador */

$tipo_fuente: arial, sans-serif;

$color_texto: #1D1D1D; /* Color Negro */

$fondo_negro: #333333; /* Color Gris Obscuro */
$fondo_blanco: #F1F1F1; /* Color Blanco */